.navbar {
  width: 100%;
  height: 80px;

  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;

  backdrop-filter: blur(12px);
  background: rgba(11, 15, 25, 0.85);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #00e5ff;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e5ff;
}

.nav-links a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 2px;

  background: #00e5ff;

  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.resume-btn {
  padding: 10px 20px;

  border-radius: 10px;

  text-decoration: none;

  color: white;

  background: linear-gradient(135deg, #8b5cf6, #00e5ff);

  font-weight: 600;

  transition: 0.3s;
}

.resume-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 229, 255, 0.2);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .resume-btn {
    display: none;
  }
}
